{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title xmlns="http://www.w3.org/1999/html">show details</title>
{% endblock %}

{% block body %}
<table class="table table-bordered">
    <tr>
        <th>Company Name</th>
        <th>MODEL Name</th>
        <th>RAM</th>
        <th>ROM</th>
        <th>Processor</th>
        <th>Weight</th>
        <th>Price</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    {% for lap in object_list %}
    <tr>
        <td>{{lap.company_name}}</td>
        <td>{{lap.model_name}}</td>
        <td>{{lap.ram}}</td>
        <td>{{lap.rom}}</td>
        <td>{{lap.processor}}</td>
        <td>{{lap.weight}}</td>
        <td>{{lap.price}}</td>
        <td>
            <a href="{% url 'update_laptop' lap.id %}"><button class="btn btn-warning">Update</button></a>
        </td>
        <td>
            <a href="{% url 'delete_laptop' lap.id %}"><button class="btn btn-danger">Delete</button></a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}


